@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<!-- SS 20/3 Modified Identity Login page -->

<div id="login">
    <div id="imgBox" class="row justify-content-center align-items-center">
        <a href="/"><img src="/img/logo_horizontal_inverted.png" style="width: 300px" /></a>
    </div>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">Login</h3>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label class="text-info">Email:</label><br>
                            <input asp-for="Input.Email" class="form-control">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input asp-for="Input.Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="text-info"><span>Remember me</span> <span><input asp-for="Input.RememberMe"></span></label><br>
                            <input id="submitBtn" type="submit" name="submit" class="btn btn-info btn-md" value="Submit">
                        </div>                        
                        <div id="register-link" class="text-right">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
